.Contact-button {
    background: transparent linear-gradient(180deg, #E8E200 0%, #EC9F16 74%, #EF6E26 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: black;
}

.nav-link {
    font-weight: 600;
    /* margin: 0px 10px; */
}
.logo{
   height: 50px;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
    .logo{
        height: 45px;
     }
}